.projects {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:
        linear-gradient(to bottom right, transparent 80%, #708b7510 0),
        linear-gradient(to top left, transparent 70%, #708b7510 0);
}

.projectsWidthContainer {
    width: 100%;
    max-width: 1050px;
    min-width: 650px;
    box-sizing: border-box;

    padding: 50px;
}

.projectHeader {
    padding: 50px 0px;
    opacity: 0;
    transition: all 1s;
}

.projectHeaderInView {
    opacity: 1;
}

.centeringContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contactButtonInverse {
    background-color: #FFFFFA;
    color: #080705;
    border: 2px solid #FFFFFA;
    border-radius: 20px;
    padding: 10px 50px;
    text-transform: uppercase;
    font-weight: bold;

    text-decoration: none;

    transition: all .5s;
}

.contactButtonInverse:hover {
    border: 2px solid #080705;
    background-color: #080705;
    color: #FFFFFA;
    transform: scale(1.05);
    cursor: pointer;
}

.projectSeeMoreButton {
    background-color: #708B75;
    border-radius: 5px;
    color: #FFFFFA;
    border: 2px solid #708B75;
}

.projectSeeMoreButton:hover {
    border: 2px solid #708B75;
    background-color: #FFFFFA;
    color: #708B75;
}

.demos {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:
        linear-gradient(to top right, transparent 80%, #708b7510 0),
        linear-gradient(to bottom left, transparent 80%, #708b7510 0);
}

.demos::before{
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    /* height: 100%; -- NEEDS TO BE UPDATED TO EXACT SECTION HEIGHT -- */
    background-color: #708B7510;
    clip-path: polygon(60% 0%, 100% 0%, 100% 40%);
}

.demosWidthContainer {
    width: 100%;
    max-width: 1050px;
    min-width: 650px;
    box-sizing: border-box;

    padding: 50px;
}