@use "src/scss/animations.scss" as *;
@use "src/scss/variables.scss" as *;

.Home {
  width: 100%;

  &__intro {
    width: 100%;
    margin-top: 100px;

    & > .pf-widthMonitor {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .Home__intro__emojiHand {
        height: 40px;
        display: inline-block;
        animation: wave-animation 6s 1s infinite;
      }

      & > .Home__intro__actionText {
        position: relative;

        & > .highlight-underlay {
          display: inline-block;
          animation: fadeInUp10px 1s forwards;
        }
      }

      & > span {
        margin-top: 1rem;

        & > :not(:last-child) {
          margin-right: 20px;
        }

        & button:not(:hover) {
          background-color: transparent;
        }
      }
    }
  }

  &__about {
    width: 100%;
    margin: 100px 0 72px;

    & > .pf-widthMonitor {
      & > div {
        & > :not(:last-child) {
          margin-bottom: 30px;
        }

        & > a {
          font-size: 1.1rem;
          text-decoration: none;
          color: $forest-30;

          &::before {
            height: 10px;
          }
        }
      }

      & > img {
        margin-left: 10%;
        border-radius: 5px;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
          0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
          0 22.3px 17.9px rgba(0, 0, 0, 0.042),
          0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
        height: 350px;
      }
    }
  }

  &__skills {
    width: 100%;
    padding: 3rem 0;
    background-color: $red-100;

    & > .pf-widthMonitor {
      & > h3 {
        color: $white;
        margin-bottom: 2rem;
      }

      & > div {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
        grid-gap: 20px;

        & > .Home__skills__skill {
          padding: 10px 20px;
          background-color: $white;
          border-radius: 5px;
          cursor: pointer;

          & > :not(:last-child) {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .pf-widthMonitor {
    width: 100%;
    padding: 0 2rem;
  }

  .Home__about {
    & > .pf-widthMonitor {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}
