@import 'src/scss/variables.scss';

@mixin setColors($c1, $c2) {
    --primary-color: #{$c1};
    --secondary-color: #{$c2};
}

@mixin colorIn($raised: false) {
    color: var(--color1);
    background-color: var(--color2);

    @if $raised {
        border: 2px solid var(--color2);
    }

    @else {
        border: 2px solid var(--color1);
    }

    &:hover {
        color: var(--color2);
        background-color: var(--color1);
        border: 2px solid var(--color1);
    }
}

@mixin pfButtonColors {
    @include setColors($green-100, $white);

    &--secondary {
        @include setColors($red-100, $white);
    }

    &--white {
        @include setColors($gray-100, $white)
    }

    --color1: var(--primary-color);
    --color2: var(--secondary-color);

    &--inverse {
        --color1: var(--secondary-color);
        --color2: var(--primary-color);
    }

    @include colorIn();

    &--raised {
        @include colorIn(true);
    }
}

.pf-button {
    @include pfButtonColors;
    
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

// .contactButtonInverse {
//     background-color: #FFFFFA;
//     color: #080705;
//     border: 2px solid #FFFFFA;
//     border-radius: 20px;
//     padding: 10px 50px;
//     text-transform: uppercase;
//     font-weight: bold;
//     text-decoration: none;
//     transition: all .5s;
// }

// .contactButtonInverse:hover {
//     border: 2px solid #080705;
//     background-color: #080705;
//     color: #FFFFFA;
//     transform: scale(1.05);
//     cursor: pointer;
// }

// .contactButtons {
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     margin: 0px 0px 0px 0px;
// }

// .contactButton {
//     background: #FFFFFA;
//     border: 2px solid #708B75;
//     color: #708B75;
//     padding: 10px 30px;
//     margin-right: 20px;
//     border-radius: 5px;
//     font-weight: bold;
//     font-size: .9rem;
//     text-decoration: none;

//     transition: all .5s;

//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .contactButton:hover {
//     background-color: #708B75;
//     color: #FFFFFA;
//     transform: scale(1.03);
//     cursor: pointer;
// }

// .contactButton i {
//     font-size: 1.3rem;
//     margin-right: 15px;
// }