@import 'src/scss/variables.scss';

.Projects {
    width: 100%;

    &>.pf-widthMonitor {
        &>span {
            gap: 20px;
            margin: 100px 0 60px 0;

            svg {
                cursor: pointer;
            }
        } 

        & > p {
            margin: 0 0 150px 0;
        }

        &>div {
            gap: 150px;
        }

        &>.pf-button {
            display: block;
            margin: 125px auto;
        }
    }
}