@import 'src/scss/variables.scss';

.Navbar {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $red-100;


  h2,
  a {
    color: $white;
  }

  &>div {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>span {
      display: flex;
      align-items: center;
      gap: 50px;

      a {
        text-decoration: none;
        font-weight: 700;
        font-size: 0.9rem;
        position: relative;

        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          background-color: #FFFFFA;
          width: 0;
          height: 2px;
          top: 110%;
          left: 0%;
        }

        &:hover::after {
          animation: underlineAnimation 0.4s forwards;

          @keyframes underlineAnimation {
            100% {
              width: 100%;
            }
          }
        }
      }
    }
  }

  transition: all 0.5s ease-in-out;

  &--small {
    padding: 20px 0;
  }
}
