/* colors
black
#080705

wine
#702632

xanadu
#708B75

baby powder
#FFFFFA
*/

* {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    color: #080705;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}

/*  */
/*  */
/*  */
/*  */
/* main */
.home {
    width: 100%;
    max-width: 1050px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;
    box-sizing: border-box;
}

/*  */
/*  */
/*  */
/*  */
/* navbar */
.navbar{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #FFFFFA;
    animation: showNavbarBackground .3s forwards;
}
.navbar h1{
    color: #FFFFFA;
}
.navbarWidthContainer {
    box-sizing: border-box;

    width: 100%;
    max-width: 1050px;
    padding: 20px 50px;
    color: #FFFFFA;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    transform: translateY(-20px);
    opacity: 0;
    animation: showNavbar .5s forwards;

}

@keyframes showNavbar {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes showNavbarBackground{
    100% {
        background-color: #702632;
    }
}

.navButtons {
    display: flex;
}

.navButton {
    background: rgba(255, 255, 255, 0);
    border: none;
    color: #FFFFFA;
    border-radius: 5px;
    font-weight: bold;
    font-size: .9rem;
    margin-right: 50px;
    position: relative;
}

.navButton::after {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #FFFFFA;
    width: 0;
    height: 2px;
    top: 90%;
    left: 0%;
}

.navButton:hover {
    cursor: pointer;
}

.navButton:hover::after {
    animation: underlineAnimation 0.3s forwards;
}

@keyframes underlineAnimation {
    100% {
        width: 100%;
    }
}

.contactButtonInverse {
    background-color: #FFFFFA;
    color: #080705;
    border: 2px solid #FFFFFA;
    border-radius: 20px;
    padding: 10px 50px;
    text-transform: uppercase;
    font-weight: bold;

    text-decoration: none;

    transition: all .5s;
}

.contactButtonInverse:hover {
    border: 2px solid #080705;
    background-color: #080705;
    color: #FFFFFA;
    transform: scale(1.05);
    cursor: pointer;
}

/*  */
/*  */
/*  */
/*  */
/* intro */
.introAndAboutWidthContainer {
    width: 100vw;
    background: linear-gradient(to bottom right, transparent 70%, #708B7510 0);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro{
    width: 100%;
    max-width: 1050px;

    padding: 20px 50px;
    box-sizing: border-box;
    margin: 30px 0 0 0;
    transform: translateY(-20px);
    opacity: 0;
    animation: showIntro .5s .2s forwards;
}

.introTitleContainer {
    width: 100%;
    display: flex;
    align-items: center;
}

.introWavingHandEmoji {
    font-size: 3rem;
    margin: 0px 20px;
    animation: handwave 5s ease-in-out 1.7s infinite forwards;
}

@keyframes handwave {
    0% {
        transform: rotate(0.0deg)
    }

    5% {
        transform: rotate(14.0deg)
    }

    /* The following five values can be played with to make the waving more or less extreme */
    10% {
        transform: rotate(-8.0deg)
    }

    15% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-4.0deg)
    }

    25% {
        transform: rotate(10.0deg)
    }

    30% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}

.introTitle,
.introHeader {
    font-size: 2.5rem;
    line-height: 1.5rem;
}

.subheaderHighlight {
    font-weight: 700;
    font-size: 1.55rem;
    line-height: 3rem;
    box-shadow: inset 0px -20px 0px #708b755f
}

@keyframes showIntro {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.introButtons {
    position: relative;
    padding: 10px 0px;

    transform: translateX(20%);
    opacity: 0;
    animation: showIntroButtons .5s .4s forwards;

    display: flex;
}

@keyframes showIntroButtons {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.contactButton {
    background: #FFFFFA;
    border: 2px solid #708B75;
    color: #708B75;
    padding: 10px 30px;
    margin-right: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: .9rem;
    text-decoration: none;

    transition: all .5s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contactButton:hover {
    background-color: #708B75;
    color: #FFFFFA;
    transform: scale(1.03);
    cursor: pointer;
}

/*  */
/*  */
/*  */
/*  */
/* about */
.about {
    width: 100%;
    max-width: 1050px;
    box-sizing: border-box;

    margin: 40px 0px;
    padding: 40px 50px;
    position: relative;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutContent {
    width: 50%;
    transform: translateY(20px);

    opacity: 0;
    animation: showAboutContent .5s .6s forwards;
}

.aboutContent h2 {
    padding: 20px 0px;
}

.aboutContent p {
    line-height: 1.3rem;
    margin: 2rem 0;
}

.aboutResumeLink {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    line-height: 80px;
    font-size: 1rem;
    color: #708B75;
    font-weight: 900;
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
}

.aboutResumeLink::first-line {
    box-shadow:
        inset 0px -15px 0px #708b7527;
}

.aboutPhoto {
    height: 350px;
    border-radius: 5px;

    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: showAboutPhoto 1.1s;

    box-shadow:
        0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0px 12.5px 10px rgba(0, 0, 0, 0.035),
        0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0px 100px 80px rgba(0, 0, 0, 0.07);
}

.aboutPhoto:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-10px);
}

@keyframes showAboutContent {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes showAboutPhoto {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    55% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*  */
/*  */
/*  */
/*  */
/* skills */
.skills {
    padding: 50px 0px;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #702632;
}

.skillsWidthContainer{
    width: 100%;
    max-width: 1050px;
    padding: 0px 50px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    box-sizing: border-box;
}

.skillsHeader {
    opacity: 0;
    transition: all 1s;
    color: #FFFFFA;
}

.skillsHeaderInView {
    opacity: 1;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px -10px 20px -10px;
}

.skillsButton {
    width: 200px;
    background-color: #FFFFFA;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;

    transform: scaleY(.5);
    opacity: 0;
}

.skillsButtonInView {
    animation: showSkillsButton .3s forwards;
}

.skillsButtonImg {
    margin: 0 10px 0 0;
}

.skillsButtonText {
    margin: 0;
}

@keyframes showSkillsButton {
    0% {
        transform: scaleY(.1);
        opacity: 0;
    }

    75% {
        transform: scaleY(1.1);

    }

    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

.skillsContainer div:nth-child(1) {
    animation-delay: .1s
}

.skillsContainer div:nth-child(2) {
    animation-delay: .2s
}

.skillsContainer div:nth-child(3) {
    animation-delay: .3s
}

.skillsContainer div:nth-child(4) {
    animation-delay: .4s
}

.skillsContainer div:nth-child(5) {
    animation-delay: .5s
}

.skillsContainer div:nth-child(6) {
    animation-delay: .6s
}

.skillsContainer div:nth-child(7) {
    animation-delay: .7s
}

.skillsContainer div:nth-child(8) {
    animation-delay: .8s
}

.skillsContainer div:nth-child(9) {
    animation-delay: .9s
}

/*  */
/*  */
/*  */
/*  */
/* projects */
.projects{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image:
        linear-gradient(to bottom right, transparent 80%, #708b7510 0),
        linear-gradient(to top left, transparent 70%, #708b7510 0);
}

.projectsWidthContainer{
    width: 100%;
    max-width: 1050px;
    box-sizing: border-box;

    padding: 50px;
}

.projectHeader {
    padding: 50px 0px;
    opacity: 0;
    transition: all .5s;
}

.projectHeaderInView {
    opacity: 1;
}

.centeringContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.projectSeeMoreButton{
    background-color: #708B75;
    border-radius: 5px;
    color: #FFFFFA;
    border: 2px solid #708B75
}
.projectSeeMoreButton:hover{
    border: 2px solid #708B75;
    background-color: #FFFFFA;
    color: #708B75;
}

/*  */
/*  */
/*  */
/*  */
/* contact */
.contact{
    width: 100vw;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top right, transparent 80%, #708b7520 0),
    linear-gradient(to bottom left, transparent 75%, #708b7510 0);
}
.contactWidthContainer {
    max-width: 1050px;
    padding: 50px 100px;
    box-sizing: border-box;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
}

.contactHeader,
.contactSubheader {
    margin: 0;
    line-height: 3rem;
}

.contactInfoCard {
    width: 100%;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoCardPhoto {
    height: 275px;
    width: 275px;
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    transition: all 0.5s;
    box-shadow:
        0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0px 12.5px 10px rgba(0, 0, 0, 0.035),
        0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0px 100px 80px rgba(0, 0, 0, 0.07);

}

.infoCardPhoto:hover {
    transform: translateY(-5px);
}

.infoCardTextContainer {
    text-align: center;
    margin-left: 60px;
}

.infoCardTextName {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1rem;
}

.infoCardTextEmail {
    box-shadow: inset 0px -8px 0px #708b7545;
}

.contactButtons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.contactButton i {
    font-size: 1.3rem;
    margin-right: 15px;
}