// colors

$gray-100: #080705;
$gray-90: #21201e;
$gray-80: #393937;
$gray-70: #525150;
$gray-60: #6b6a69;
$gray-50: #848382;
$gray-40: #9c9c9b;
$gray-30: #b5b5b4;
$gray-20: #cecdcd;
$gray-10: #e6e6e6;

$maroon-100: #0b0405;
$maroon-90: #16080a;
$maroon-80: #220b0f;
$maroon-70: #2d0f14;
$maroon-60: #381319;
$maroon-50: #43171e;
$maroon-40: #4e1b23;
$maroon-30: #5a1e28;
$maroon-20: #65222d;
$maroon-10: #702632;

$red-100: #702632;
$red-90: #7e3c47;
$red-80: #8d515b;
$red-70: #9b6770;
$red-60: #a97d84;
$red-50: #b89399;
$red-40: #c6a8ad;
$red-30: #d4bec2;
$red-20: #e2d4d6;
$red-10: #f1e9eb;

$forest-100: #0b0e0c;
$forest-90: #161c17;
$forest-80: #222a23;
$forest-70: #2d382f;
$forest-60: #38463b;
$forest-50: #435346;
$forest-40: #4e6152;
$forest-30: #5a6f5e;
$forest-20: #657d69;
$forest-10: #708B75;

$green-100: #708B75;
$green-90: #7e9783;
$green-80: #8da291;
$green-70: #9bae9e;
$green-60: #a9b9ac;
$green-50: #b8c5ba;
$green-40: #c6d1c8;
$green-30: #d4dcd6;
$green-20: #e2e8e3;
$green-10: #f1f3f1;

$white: #FFFFFA;