@use "src/scss/variables.scss" as *;

.ProjectCard {
  gap: 72px;
  display: flex;
  align-items: center;

  & > img {
    max-width: 100%;
    height: 100%;
    max-height: 300px;
    border-radius: 5px;
    box-shadow: 0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0px 6.7px 5.3px rgba(0, 0, 0, 0.028), 0px 12.5px 10px rgba(0, 0, 0, 0.035),
      0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
      0px 41.8px 33.4px rgba(0, 0, 0, 0.05), 0px 100px 80px rgba(0, 0, 0, 0.07);
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    max-width: 100%;

    & > .ProjectCard__tags {
      gap:  0.25rem 1rem;
      display: flex;
      flex-wrap: wrap;

      & > .highlight-underlay {
        font-size: 1rem;
        font-weight: 400;

        &::before {
          height: 12px;
        }
      }
    }

    & > .ProjectCard__links {
      display: flex;
      gap: 1rem;
      font-size: 2rem;

      & > svg {
        color: $green-10;
      }
    }
  }
}

@media (max-width: 1024px) {
  .ProjectCard {
    flex-direction: column !important;
    align-items: center !important;
    gap: 48px;

    & > img {
      max-height: 400px;
    }
  }
}
